Abg==2.3.1
pyrogram==2.0.106
pymongo
pillow==11.1.0
motor
requests
dnspython
tgcrypto==1.2.2
asyncio
python-dotenv
lexica-api
deep-translator
pycgi
apscheduler
Flask
uvloop
psutil
langdetect
MukeshAPI
google-generativeai
